{% extends "layout/base.html" %}
{% load static %}

{% block style_app %}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<style>
  table th, td{
    text-align: center;
    vertical-align: middle;
  }
</style>
{% endblock style_app %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">Creating Schedule</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="{% url breadcrumbs.dashboard.url %}">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="{% url breadcrumbs.schedule.index.url %}">{{breadcrumbs.schedule.index.name}}</a>
    </li>
  </ul>
</div>
{% endblock content_header %}

{% block Content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Outlets Table</h4>
          <button id="generate-schedule-btn" class="btn btn-secondary ms-auto">
            Select Outlets
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">        
          <form id="schedule-form" method="POST" > 
            <table id="add-row" class="display table table-striped table-hover">
            {% csrf_token %}
              <thead>
                <tr>
                    <th>No.</th>
                    <th><input type="checkbox" id="select-all" class="large-checkbox"></th>
                    <!-- <th>Outlet Code</th> -->
                    <th>Outlet Name</th>
                    <th>Outlet Type</th>
                    <!-- <th>Provinsi</th> -->
                    <th>Kabupaten/Kota</th>
                    <th>Kecamatan</th>
                    <th>Kelurahan</th>
                    <!-- <th>Alamat</th> -->
                    <th>Hari Pengiriman</th>
                    <!-- <th>Jenis Pengiriman</th> -->
                </tr>
              </thead>
              <tbody>
                  {% for OutletDatas in OutletObject %}
                      <tr>
                          <td scope="row" class="text-center">{{forloop.counter}}</td>
                          <td class="text-center">
                            <input class="large-checkbox checkbox-input" type="checkbox" value="{{ OutletDatas.OutletCode }}">
                          </td>
                          <!-- <td>{{ OutletDatas.OutletCode }}</td> -->
                          <td>{{ OutletDatas.OutletName }}</td>
                          <td>{{ OutletDatas.OutletType }}</td>
                          <!-- <td>{{ OutletDatas.Provinsi }}</td> -->
                          <td>{{ OutletDatas.Kabupaten }}</td>
                          <td>{{ OutletDatas.Kecamatan }}</td>
                          <td>{{ OutletDatas.Kelurahan }}</td>
                          <!-- <td>{{ OutletDatas.Address }}</td> -->
                          <td>{{ OutletDatas.Days }}</td>
                          <!-- <td>{{ OutletDatas.Delivery }}</td> -->
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
            <input type="hidden" id="selected_outlets" name="selected_outlets">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block scripts_app %}
<!-- Datatables -->
<script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script>
    $(document).ready(function () {
      // Clear session storage on page load
      sessionStorage.clear(); 
      $('.checkbox-input').prop('checked', false);

      // Restore checked checkboxes from session storage
      $('.checkbox-input').each(function() {
        var id = $(this).val();
        if (sessionStorage.getItem(id)) {
            $(this).prop('checked', true);
        }
      });

      // Save checked checkboxes to session storage
      $(document).on('change', '.checkbox-input', function() {
        var id = $(this).val();
        if ($(this).is(':checked')) {
            sessionStorage.setItem(id, 'checked');
        } else {
            sessionStorage.removeItem(id);
        }
      });

      // Select all checkboxes
      $('#select-all').click(function() {
        var isChecked = this.checked;
        $('.checkbox-input').prop('checked', isChecked);

        $('.checkbox-input').each(function() {
            var id = $(this).val();
            if (isChecked) {
                sessionStorage.setItem(id, 'checked');
            } else {
                sessionStorage.removeItem(id);
            }
        });
      });

      // Collect all checked values before submitting the form
      $('#schedule-form').on('submit', function() {
          var checkedIds = [];
          // Collect checked ids from sessionStorage
          for (var i = 0; i < sessionStorage.length; i++) {
              var key = sessionStorage.key(i);
              // Validate if key is a valid ID format
              if (/^\d+$/.test(key)) {
                  checkedIds.push(key);
              }
          }
          $('#selected_outlets').val(checkedIds.join(','));
  
          // Clear session storage after submitting the form
          sessionStorage.clear();
      });

      // Clear session storage when the page is unloaded
      $(window).on('beforeunload', function() {
          sessionStorage.clear();
      });

      $('#generate-schedule-btn').click(function() {
        $('#schedule-form').submit();
      });
      
      $("#basic-datatables").DataTable({});

      $("#add-row").DataTable({
        pageLength: 10,
      });

      var action =
        '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-secondary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

      $("#addRowButton").click(function () {
        $("#add-row")
          .dataTable()
        $("#addRowModal").modal("hide");
      });
    });
  </script>
{% endblock scripts_app %}