.errorlist{
    padding: 0;
    color: #cc0000; /* Warna teks */
    margin-bottom: 10px; /* Margin bottom */
    list-style-type: none;
  }

.text-center {
  text-align: center;
  vertical-align: middle;
}
.large-checkbox {
  width: 20px;
  height: 20px;
}
.flash-messages {
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px;
  z-index: 1050;
  text-align: center;
  margin: 10px auto;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}



.bootstrap-alert .alert {
  background-color: #d4edda; /* Warna latar belakang dari Bootstrap */
  color: #155724; /* Warna teks dari Bootstrap */
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb; /* Warna border dari Bootstrap */
  border-radius: 4px;
}

/* .bootstrap-alert .alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
} */