{% extends "layout/base.html" %}
{% load static %}
{% load custom_tags %}

{% block style_app %}
<style>
table .vehicle .btn:nth-child(2){
  margin-left: 10px
}

table .driver a{
  width: 100%;
  margin-right: 10px;
}

table th, td{
  text-align: center;
  vertical-align: middle;
}
</style>
{% endblock style_app %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">User</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">List of User</a>
    </li>
  </ul>
  <!-- <button id="generate-schedule-btn" class="btn btn-secondary btn-round ms-auto">
    Finish
  </button> -->
</div>
{% endblock content_header %}

{% block Content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">List of User</h4>
          <a class="ms-auto" href="{% url 'app_user:register' %}">
            <button class="btn btn-secondary btn-round" >
              <i class="fa fa-plus"></i>
              Add User
            </button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">            
          <table id="basic-datatables" class="display table table-striped table-hover" >
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Username</th>
                <th scope="col">Group</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for UserDatas in UserObject %}
              <tr>
                <td scope="'row">{{forloop.counter}}</td>
                <td>{{UserDatas.username}}</td>
                {% for group in UserDatas.groups.all %}
                  <td>{{group.name}}</td>
                  {% if not forloop.last %}, 
                  {% endif %} 
                  {% empty %}
                  <td>Tidak ada grup</td>  <!-- Jika user tidak tergabung dalam grup -->
                {% endfor %}
                
                <td>{{UserDatas.email}}</td>
                
                <td class="d-flex vehicle">
                  <a href="{% url 'app_user:userUpdate' userId=UserDatas.id %}">
                    <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-secondary" data-original-title="Edit Task">
                      Edit
                    </button>
                  </a>
                  <button 
                      type="button" 
                      class="btn btn-danger" 
                      data-bs-toggle="modal" 
                      data-bs-target="#deleteModal" 
                      data-url="{% url 'app_user:userDelete' userId=UserDatas.id %}">
                      Delete
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Konfirmasi Hapus -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Konfirmasi Penghapusan</h5>
          </div>
          <div class="modal-body">
              Apakah Anda yakin ingin menghapus data ini? Tindakan ini tidak dapat dibatalkan.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
              <button type="button" class="btn btn-danger" id="confirmDelete">Ya, Hapus</button>
          </div>
      </div>
  </div>
</div>

{% endblock Content %}

{% block scripts_app %}
<!-- Datatables -->
<script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script>
  $(document).ready(function () {
    var deleteUrl = '';

    // Atur URL hapus saat modal ditampilkan
    document.getElementById('deleteModal').addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Tombol yang memicu modal
        deleteUrl = button.getAttribute('data-url'); // Mengambil data-url dari tombol
    });

    // Hapus data saat pengguna mengkonfirmasi
    document.getElementById('confirmDelete').addEventListener('click', function() {
        window.location.href = deleteUrl;
    });

    $("#basic-datatables").DataTable({});

  });
  </script>
{% endblock scripts_app %}